
out/test.tif
dat/Normal_hyperspectral_images/Gatherdata_mask_0.pickle
dat/Normal_hyperspectral_images/Gatherdata_mask_1.pickle
dat/Normal_hyperspectral_images/Gatherdata_mask_2.pickle
dat/Normal_hyperspectral_images/Gatherdata_mask_3.pickle
dat/Normal_hyperspectral_images/Gatherdata_mask_4.pickle
dat/Normal_hyperspectral_images/Gatherdata_mask_5.pickle
dat/Normal_hyperspectral_images/Gatherdata_mask_6.pickle
dat/Normal_hyperspectral_images/matinfo.pickle
dat/Tail_hyperspectral_images/Gatherdata_mask_0.pickle
dat/Tail_hyperspectral_images/matinfo.pickle
dat/Tilted_hyperspectral_images/Gatherdata_mask_0.pickle
dat/Tilted_hyperspectral_images/Gatherdata_mask_1.pickle
dat/Tilted_hyperspectral_images/Gatherdata_mask_2.pickle
dat/Tilted_hyperspectral_images/Gatherdata_mask_3.pickle
dat/Tilted_hyperspectral_images/matinfo.pickle
dat/Natural_spectra/Stoddard_965_Bird_Plumage_Colors_May2020.csv
dat/Natural_spectra/Stoddard_Plant_Gamut_2011.csv
/pythonsrc/.ipynb_checkpoints
/pythonsrc/__pycache__
/pythonsrc/hsi/__pycache__
/pythonsrc/hsi/.ipynb_checkpoints